
img{
    width: 70px;
    border-radius: 50%;
}
.bio{
   font-size:15px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
     
}
#maindiv{
     background:#f2f2f2!important;
 }
